/* Work-Sans Regular  */
@font-face {
  font-family: "Work-Sans";
  src: url("./fonts/WorkSans-Regular.ttf") format("truetype");
  font-style: normal;
}
/* Work-Sans Light  */
@font-face {
  font-family: "Work-Sans_Light";
  src: url("./fonts/WorkSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
/* Work-Sans Semi-bold */
@font-face {
  font-family: "Work-Sans_Semi-bold";
  src: url("./fonts/WorkSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
/* Work-Sans bold */
@font-face {
  font-family: "Work-Sans_bold";
  src: url("./fonts/WorkSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/* Work-Sans Black */
@font-face {
  font-family: "Work-Sans_Black";
  src: url("./fonts/WorkSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

body {
  width: 100%;
  height: 100%;
  background-color: #3670c7;
  font-family: "Work-Sans_Light", sans-serif;
}

h1 {
  font-size: clamp(30px, 11vw, 125px);
  font-family: "Work-Sans_bold";
  font-weight: 900;
  line-height: 65%;
  color: #333;
  opacity: 0.3;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  margin-bottom: 100px;
}

main {
  width: clamp(400px, 95vw, 900px);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
main aside.listsContainer {
  flex: 1 250px;
  padding: 15px;
  margin: 20px;
  margin-bottom: 20px;
  color: #f4f4f4;
  background-color: #3670c7;
}
main aside.listsContainer h2 {
  font-size: 36px;
  font-family: "Work-Sans_bold";
  font-weight: 700;
  margin-bottom: 30px;
}
main aside.listsContainer ul li.list {
  list-style: circle;
  margin: 14px;
  font-size: 20px;
  cursor: pointer;
  transition: all ease 0.3s;
}
main aside.listsContainer ul li.list:hover {
  padding-left: 10px;
}
main aside.listsContainer ul li.active-list {
  font-weight: 700;
}
main aside.listsContainer form {
  margin-left: -15px;
}
main form button,
main form input {
  height: 30px;
  border: none;
  color: #f4f4f4;
  background-color: inherit;
}
main form button {
  width: 30px;
  font-size: 30px;
  font-family: "Work-Sans_bold";
  font-weight: 700;
}
main form input {
  max-width: 200px;
  font-size: 18px;
  border-bottom: 1px solid #f4f4f4;
  outline: none;
}
main aside.tasksContainer {
  flex: 1 350px;
  background-color: #f4f4f4;
  color: #333;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: none;
}
main aside.tasksContainer header {
  background-color: #e4e4e4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
main aside.tasksContainer header .listName {
  font-size: 34px;
  font-family: "Work-Sans_bold";
  font-weight: 700;
}
main aside.tasksContainer header .tasksCounter {
  color: red;
}
main aside.tasksContainer ul {
  padding-left: 30px;
}
main aside.tasksContainer ul li {
  list-style: none;
  font-size: 24px;
  padding-bottom: 10px;
  margin-top: 15px;
  border-bottom: 1px solid #e4e4e4;
}
main aside.tasksContainer ul li label {
  margin-left: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
}
main aside.tasksContainer ul li label span {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  top: 50%;
  background-color: #333;
  transition: all 500ms;
}
main aside.tasksContainer form {
  padding-left: 20px;
  padding-top: 20px;
}
main aside.tasksContainer form button {
  color: #3670c7;
}
main aside.tasksContainer form input {
  border-bottom: 1px solid #000;
  color: #000;
  font-size: 20px;
  width: 70%;
}
main aside.tasksContainer footer {
  background-color: #3670c7;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  color: #e4e4e4;
  padding: 15px;
}
main aside.tasksContainer footer div {
  cursor: pointer;
}
main aside.tasksContainer footer .clear {
  margin-right: 15%;
}
main aside.tasksContainer.unhide {
  display: block;
}/*# sourceMappingURL=style.css.map */